h1 {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    margin: 5px;
}
.box {
    border: 1px solid #000;
    /*width: 318px;*/
    /*height: 478px*/
}
.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu > li {
    background-color: white;
    border-bottom: 1px solid #393;
    font-size: 16px;
    line-height: 30px;
    position: relative;
}
/*一番最初の要素のみ*/
.menu > li:first-child {
    border-top: 1px solid #393;
}
.menu > li > label {
    cursor: pointer;
    height: 30px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.submenu {
    display: none;
    list-style-type: none;
    padding-left:0
}
.menu > li > input:checked ~ .submenu{
    display: block;
}
.submenu > li {
    background-color:#EFE;
    border-top: 1px dotted #696;
    cursor: pointer;
}
.submenu > li >p {
    margin: 0;
    padding-left: 25px;
}