@charset "utf-8";
/* CSS Document */

/* 初期化
===========================================================*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
	font-size:100%;
    vertical-align:baseline;
    background:transparent;
}



body {
    line-height:1.6;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
	display:block;
}

nav,ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


h1 { background:#000; padding:10px 20px;}
h2 { background:#999; margin-bottom:30px; padding:10px 20px; font-size:16px; color:#FFF;}
h3 { width:80%; margin:0 auto; color:#F15A24;}


/* accordion
===========================================================*/

ul.accordion { font-size:16px; width:80%; padding:10px; background:#DDD; margin:0 auto 30px;}
ul.accordion a { display:block; padding:10px; background-position:97% center; background-repeat:no-repeat; text-decoration:none; color:#333; font-weight:bold;}
ul.accordion span { display:block; padding:10px; background-position:97% center; background-repeat:no-repeat; color:#333; font-weight:bold;}
ul.accordion ul { display:none;}
ul.accordion > li { background: -moz-linear-gradient(top, #C6F0FE, #27BCF9); background: -webkit-gradient(linear, left top, left bottom, from(#C6F0FE), to(#27BCF9));}
ul.accordion > li > p { background: -moz-linear-gradient(top, #C6F0FE, #27BCF9); background: -webkit-gradient(linear, left top, left bottom, from(#C6F0FE), to(#27BCF9));cursor:pointer;}
ul.accordion > li > ul > li { background:#999; border-bottom:1px solid #EEE;}
ul.accordion > li > ul > li > p { background:#999;}
ul.accordion > li > ul > li > a { background:url(../img/go.png) no-repeat 98% center;}
ul.accordion > li > ul > li > ul > li { background:#FFF; border-bottom:1px dotted #888;}
ul.accordion > li > ul > li > ul > li:last-child { border:none;}
ul.accordion > li > p span { background-image:url(../img/open.png);}
ul.accordion > li > p span.open { background-image:url(../img/close.png);}
/*
ul.accordion > li > a { background-image:url(img/a_link.png);}
ul.accordion > li > ul > li > p span { background-image:url(img/b_close.png);}
ul.accordion > li > ul > li > p span.open { background-image:url(img/b_open.png);}
ul.accordion > li > ul > li > ul > li a { background-image:url(img/c_link.png); color:#333;} 
*/

dl.accordion { background:#DDD; width:80%; margin:0 auto 30px; padding:10px; font-size:16px;}
dl.accordion dt {
	background:url(../img/open.png) 97% center no-repeat,-moz-linear-gradient(top, #C6F0FE, #27BCF9);
	background:url(../img/open.png) 97% center no-repeat,-webkit-gradient(linear, left top, left bottom, from(#C6F0FE), to(#27BCF9));
	border-bottom:1px solid #EEE; height:40px; text-indent:10px; line-height:40px; color:#333; font-weight:bold; cursor:pointer;}
dl.accordion dt.open {
	background:url(../img/close.png) 97% center no-repeat,-moz-linear-gradient(top, #C6F0FE, #27BCF9);
	background:url(../img/close.png) 97% center no-repeat,-webkit-gradient(linear, left top, left bottom, from(#C6F0FE), to(#27BCF9));}
dl.accordion dd { background:#FFF; padding:10px; line-height:1.5; display:none;}



/* footer
===========================================================*/
.footer { width:80%; margin:0 auto; text-align:right;}


/* clearfix
===========================================================*/
.clearfix:after {
  content: "."; 
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.clearfix {
  min-height: 1%;
}

* html .clearfix {
  height: 1%;
  /*\*//*/
  height: auto;
  overflow: hidden;
  /**/
}





/* html,bodyタグの設定 */
html, body{
	margin: 0;	/* 余白の削除 */
	padding: 0;	/* 余白の削除 */
	height: 100%;	/* 縦の高さを100% */
	width: 100%;	/* 横の幅を100% */
}
/* 全体を囲う大枠 */
div#contents {
	background-color: #999;
	position: relative;		/* フッター部の配置用に定義 */
	min-height: 100%;		/* 縦の表示領域を100% */
}
/* ヘッダーの背景 */
div#header-bk {
	background-color:#444;  /* 背景色(黒) */
	padding:10px 0 0;       /* 上から10px分余白をあける */
	height:140px;           /* 縦の高さ140px */
	width:100%;             /* 横の幅を100% */
}
/* ヘッダーの表示領域 */
div#header {
	border: 5px solid #fff; /* 表示領域を白枠で囲う */
	height: 120px;  /* 縦の表示領域120px */
	width: 90%;   /* 横の幅970px */
	margin: auto;   /* 中央揃え */
    text-align:center;
}
/* ボディ */
/* ボディの大枠 */
div#body-bk{
	width: 90%;            /* 横の幅970px */
	margin: 10px auto 0;     /* 上から10px分余白を取る */
	padding-bottom: 150px;   /* フッターの高さの分余白を取る */
}

/* ボディ */
div#body{
	border: 5px solid #444;  /* 黒枠で囲う */
}
/* フッターの背景 */
div#footer-bk
{
	background-color: #444;   /* 背景色(黒) */
	width:100%;               /* 横の幅を100% */
	height: 120px;            /* 縦の幅を120px */
	position: absolute;       /* 絶対位置指定することを定義 */
	bottom: 0px;              /* 絶対位置指定(左0px,下0px) */
	padding: 10px 0;          /* 上下に余白を取る */
}
/* フッターの表示領域 */
div#footer{
	border: 5px solid #fff; /* 表示領域を白枠で囲う */
	height: 100px;          /* 縦幅の指定100px */
	width: 90%;           /* 横の幅970px */
	margin: auto;           /* 中央揃え */
    text-align:center;
}